{% extends 'base.html.twig' %}

{% block title %}Story {{ name }}{% endblock %}

{% block body %}
    <h2 class="story-name">{{ name }}</h2>
    <div class="story-book-container">
        <div class="story-photo"></div>
        <div class="story-details">
            <dl class="story-details-list">
                <dt>Genre:</dt>
                <dd>Journey</dd>
                <dt>Likes:</dt>
                <dd>289</dd>
                <dt>Title:</dt>
                <dd>{{ title|raw }}</dd>
            </dl>
        </div>
    </div>

    <div id="js-stories-wrapper"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>

    <script type="text/babel">
        var storiesUrl = '{{ path('story_show_stories', {'storyName': name}) }}';

        ReactDOM.render(
          <StorySection url={storiesUrl}/>,
          document.getElementById('js-stories-wrapper')
        );
    </script>
{% endblock %}
